@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:grid;
    height:100vh;
    min-height:800px;
    /* Default variable */
    --circle:hsl(237, 14%, 26%);
    --caretColor:hsl(220, 98%, 61%);

    /* Dark theme*/
    --bg:hsl(235,21%,11%);
    --fg:hsl(234,39%,85%);
    --edit:hsl(236, 33%, 92%);
    --bg-todo:hsl(235,24%,19%);
    --linear:linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    --top_img:url('./images/bg-mobile-dark.jpg');
    --tgl_btn:url('./images/icon-sun.svg');
    min-width:320px;
    background-color: var(--bg);
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    transition:all 1.5s;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.light{
    /* Light theme */
    --bg:hsl(236, 33%, 92%);
    --fg: hsl(237, 14%, 26%);
    --edit:hsl(237,14%,23%);
    --bg-todo:hsl(234, 39%, 85%);
    --top_img:url('./images/bg-mobile-light.jpg');
    --tgl_btn:url('./images/icon-moon.svg');
}
.top_img{
    width:100%;
    min-width:320px;
    height:225px;
    background-image:var(--top_img);
    background-size:cover;
    position:absolute;
    z-index:-5;
/*     position:fixed;
    z-index: -5;
 */}
main{
    position:relative;
    width:100%;
    padding:1em .7em;
    z-index:1;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    text-transform: uppercase;
    font-size:2rem;
    color:white;
    letter-spacing: 10px;
}
.toggle_btn{
    background-image:var(--tgl_btn);
    width:30px;
    height:30px;
    background-size:cover;
    cursor:pointer;
}
.type_todo{
    width:80%;
    background-color: var(--bg-todo);
    transition: all 1s;
    margin:1.2em auto 0;
    height:2.5em;
    border-radius:5px;
    display:grid;
    grid-template-columns: 10% auto;
    align-items: center;
    padding:0 .5em;
    position: relative;
}

.circle,.todo_circle{
    width:20px;
    height:20px;
    border-radius:50%;
    padding:5px;
    border:1px solid var(--circle);
    position:relative;
}
.todo_circle{
    cursor:pointer;
    background:var(--circle);
    border:none;
    align-self: center;
}
.edit_circle{
    background:var(--bg);
}
.hover_circle:hover::after{
    content:'';
    position:absolute;
    background-image:var(--linear);
    width:25px;
    height:25px;
    border-radius:50%;
    top:-15%;
    left:-12%;
    z-index:-1;
}

.circleGradient{
    position:relative;
    width:30px;
    height:30px;
    border-radius:50%;
    top:0;
}
.circleGradient::after{
    content:'';
    position:absolute;
    background:pink;
    width:40px;
    height:40px;
    border-radius:50%;
    top:0;
    left:0;
    z-index:-1;
}

#todo_input{
    background-color: transparent;
    width:100%;
    height:100%;
    font-size: 1.2rem;
    border:none;
    color:var(--fg);
    caret-color:var(--caretColor) ;
    position: relative;
    z-index:1;
}
#todo_input:focus{
    outline:none;
}

/* todo */
label{
    word-break: break-word;
    padding:.5em 1em;
    cursor:move;
    width:100%;
}
label:focus{
    outline:none;
}

.todos{
    margin-top:1em;
    min-height:50vh;
    color:var(--fg);
    z-index:-2;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.todo{
    width:80%;
    overflow: hidden;
    visibility: hidden;
    opacity:0;
    display:grid;
    grid-template-columns: 4% auto 10%;
    align-items: center;
    padding:0 .5em;
    font-size:1.5rem;
    border-bottom:3px solid rgba(90, 96, 223, 0.1);
    background-color: var(--bg-todo);    
    position:relative;
    z-index:-1;
    transition: all 1s;
}
.todo:nth-child(1){
    border-radius: 5px 5px 0 0;
}
.todo input[type="checkbox"]{
  display:none;  
}
.todo_create{
    visibility: unset;
    opacity:1;
    transition: all 1s;
}
.todo_remove{
    opacity:0.4;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
}

 
 .cross{
    background-image:url('./images/icon-cross.svg');
    background-size:cover;
    width:20px;
    height:20px;
    justify-self: end;
    cursor:pointer;
    grid-row:1;
    grid-column:3;
}
.edit{
    background-image:url('./images/edit-solid.svg');
    background-size:cover;
    background-repeat: no-repeat;
    width:35px;
    height:30px;
    cursor:pointer;
    justify-self: end;
    grid-row:1;
    grid-column:3;
    margin-right:1.5em;
    margin-bottom:.25em;
}
.editTodo{
    background:var(--edit);
    color:var(--bg);
}
.blur{
    filter:blur(10px);
}
.nonclick{
    pointer-events:none;
}
.cross_active{
    text-decoration: line-through;
    color:hsl(236, 9%, 61%);
}
.circle_active{
    position:relative;
    background-image: var(--linear);
}

.circle_active::before{
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    background-image:url('./images/icon-check.svg');
    background-size:80%;
    background-repeat: no-repeat;
    top:15%;
    left:15%;
} 
.todo_info{
    width:80%;
    padding:1em .5em;
    background-color: var(--bg-todo);
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    opacity:0;
    transition:opacity 1.5s;
}
.show{
    opacity:1 !important;
}
.hide{
    display:none;
}

.status{
    display:flex;
    color:rgba(147,148,165,.5);
    transition: all 1s;
    cursor:pointer;
    opacity:0;
    transition:opacity 1.5s;
}
.status_bot{
    padding:1em .5em;
    margin-top:3em;
    justify-content: center;
    background-color: var(--bg-todo);
}
.status_active{
    color:var(--caretColor);
}
.status div,.bot_status div{
    margin:0 .5em;
}
.clear{
    cursor:pointer;
}
.all:hover,.active:hover,.completed:hover,.clear:hover{
    color:var(--caretColor);
}

/* DnD */
.dragStart{
    opacity:0.75;
}
.dragEnd{
    opacity:1;
}
.dragLeave{
    transform: scale(1,1);
}
.dragOver{
    transform:scale(1.03,1.03);
}

main p:nth-child(4){
    color:var(--fg);
    text-align: center;
    margin-top:3em;
}
footer{
    align-self: end;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color:var(--fg);
    margin-bottom:2em;
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
