.todo{
    padding:.5em;
    width:95%;
    margin:1em auto;
    display:flex;
    justify-content: space-between;
    align-items:center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 1s;
}

label{
    padding:.5em;
    font-size:1.25rem;     
}
label input{
    transform: scale(1.5);
    margin-right:1em;
}

.trash{
    cursor: pointer;
}

.checked{
    color:#9f9f9f;
    text-decoration: line-through;
}

.deleted {
    opacity:0;
    transition:opacity 1s;
}