/* Base on width 375px */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Rubik', sans-serif;
    outline:none;
}
html {
    scroll-behavior: smooth;
  }
body{
    min-width: 375px;
}
a{
    text-decoration: none;
}
:root{
    --clr-softBlue: hsl(231, 69%, 60%);
    --clr-softRed: hsl(0, 94%, 66%);
    --clr-grayBlue: hsl(229, 8%, 60%);
    --clr-darkBlue: hsl(229, 31%, 21%);
}
::-webkit-scrollbar {
    width: 20px;
  }
  
/* all p tag is here************************************************/
/* .info_box p,#feature p,#download p
 */
div > p, section > p{
    margin-top:1rem;
    font-size:1.3rem;
    font-weight: 400;
    width:95%;
    max-width: 750px;
    line-height: 1.5em;
    display:inline-block;
    color:var(--clr-grayBlue);
}

/* all h2 tag is here************************************************/
/* .info_box h2,#feature h2,#download h2,#faq h2,#contact h2{
}*/
 div > h2, section > h2{
     font-size: 1.7rem;
 }
/* Header ***********************************************/
nav{
    padding:2em 1em 0;
    display:flex;
    justify-content: space-between;
    height:3rem;
}
 
#hamburger{
    cursor:pointer;
    position:fixed;
    right:2%;
    transition: all .3s ease-in;
    z-index:999;
}
.hambar{
    height:4px;
    width:25px;
    background-color: var(--clr-darkBlue);
    margin-bottom:.2em;
    transition:all 1s;
}

.menu{
    padding-top:5em;
    position:fixed;
    list-style: none;
    height:100%;
    width:100%;
    top:-100%;
    right:0;
    background:var(--clr-darkBlue);
    opacity: .9;
    text-align: center;
    transition:all 1s ease-in;
    z-index:998;
}

.menu_items{
    text-transform: uppercase;
    font-size:2rem;
    margin-top:1em;
    margin-bottom:1em;
    display:block;
}
.menu_items a:active{
    color:var(--clr-softRed);
}
.contact_btn{
    margin:0 auto;
    padding:.5em 3em;
    border:3px solid white;
    border-radius: 10px;
    width:90%;
    max-width:500px;
    
}
.contact_btn:active{
    color:white;
    background-color:var(--clr-softRed);
    border: none;
}
.top_items{
    color:white;
}
/* Menu toggle ***********************************************/

.logoActiveBlue,.logoChar,.path,.color{
    transition:fill 1s ease-in;
}
.logoActive{
    fill:white;
    z-index:999;
    position: fixed;
}
.logoActiveBlue{
    fill:var(--clr-darkBlue);
}
.active:nth-child(1),.active:nth-child(3){
    position:fixed;
    background-color:white;
    top:6%;
    right:2%;
}
.active:nth-child(1){
    transform:rotate(45deg);
}
.active:nth-child(2){
    display:none;
}
.active:nth-child(3){
    transform:rotate(-45deg) ;
}
.menuActive{
    top:0;
    transition:all .7s ease-in;
}
/* Hero *******************************************************/
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:4em;
    text-align: center;
}
.image_box{
    position:relative;
    width:100%;
}
.image_box img{
/*     max-width:680px;
 */    display:block;
    margin:auto;
}
.img_one{
    width:100%;
}
.blue_overlay{
    position:absolute;
    background:var(--clr-softBlue);
    max-height:300px;
    max-width:700px;
    z-index:-1;
}
.overlay_one{
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    height: 60%;
    width:80%;  
    right:0;
    bottom:0;
}
.info_box{
    position:relative;
}
.info_box h1{
    margin-top:1em;
    font-size: 2rem;
}
.btn_container{
    margin-top:2em;
    width:100%;
    display:flex;
    justify-content: center;
}
.btn{
    padding:1.2em 1.3em;
    display:inline-block;
    border-radius: 10px;
    font-weight: 500;
}
.blue_btn{
    margin-right:1em;
    background-color:var(--clr-softBlue);
    color:white;
}
.white_btn{
    color:var(--clr-darkBlue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Feature *******************************************************/
#feature{
    margin-top:7em;
    text-align: center;
}
#feature p{
    margin-top:1em;
    font-size:1.3rem;
    font-weight: 400;
    width:95%;
    line-height: 1.5em;
    color:var(--clr-grayBlue);
    display:inline-block;
}
.feature_tap{
    margin-top:4em;
}
.tap_head{
    display:inline-block;
    position:relative;
    border-bottom: 2px solid rgb(159,159,159,.2);
    border-left:none;
    border-right:none;
    border-top:none;
    background-color: unset;
    padding:1em 0;
    margin:0 auto;
    width:80%;
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--clr-grayBlue);
    cursor: pointer;
}
.tap_head:nth-child(1){
    border-top:2px solid rgb(159,159,159,.2);
}
.tap_heaed:hover{
    color:var(--clr-softRed);
}
.tap_head::before {
    content:'';
}
.tap_head_active{
    color:var(--clr-darkBlue);
}
.tap_bottom_active::before{
    content:'';
    border-bottom:5px solid var(--clr-softRed);
    width:80%;
    bottom:3%;
    left:10%;
    position:absolute;
}
#feature_info{
    margin-top:5em;
}

.img_two{
    width:90%;
}
.overlay_two{
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    left:0;
    bottom:-12%;
    height: 60%;
    width:95%;  
}

.info_box h2{
    margin-top:2.5em;
}
.box_two_btn{
    display:none;
}

/* Download ***********************************************/
#download{
    margin-top:5em;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.download_box{
    margin-top:3em;
    padding:2em 1em 1em;
    border-radius: 10px;
    width:90%;
    max-width:600px;
    background-image: url('./images/bg-dots.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 68%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.download_box h2{
    margin-top:1.5em;
}
.download_box p{
    margin-top:.5em;
}
.download_box button{
    margin-top:3em;
    font-size:1.5rem;
    padding:1em 1em;
    border-radius: 10px;
    border:none;
    background-color: var(--clr-softBlue);
    color:white;
}

#faq{
    margin-top:5em;
    text-align: center;
}
.faq_info{
    margin-top:1rem;
    font-size:1.3rem;
    font-weight: 400;
    width:95%;
    max-width: 750px;
    line-height: 1.5em;
    display:inline-block;
    color:var(--clr-grayBlue);
}
.question_box{
    margin-top:2em;
}
.question{
    margin:1em auto 0;
    padding:0 1em;
    display:flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    cursor: pointer;
}

.question::before{
    content:'';
    position:absolute;
    width:93%;
    height:3px;
    background-color:rgb(159,159,159,.2);
    bottom:-5%;
    left:3%;
}
.question h3{
    font-size:1.1rem;
    font-weight: 400;
}
.arrow{
    cursor: pointer;
    z-index:1;
    transition:transform .7s;
}
.arrow_up{
    transform: rotate(180deg);
    transition:transform .7s;
}
.arrow_active path{
    stroke: red;
}

.answer{
    text-align:left;
    margin-top:1rem;
    font-weight: 400;
    width:95%;
    max-width: 750px;
    line-height: 1.5em;
    color:var(--clr-grayBlue);
    visibility: hidden;
    opacity:0;
    max-height:0;
    overflow: hidden;
    transition: all 1s ease;
}
.answer_active{
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
    max-height: 1000px;
}
.moreinfo_btn{
    padding-left:3em;
    padding-right:3em;
    margin-top:3em;
}
#contact{
    margin-top:7em;
    padding:5em 1em 1em;
    text-align: center;
    background-color:var(--clr-softBlue);
}

.contact_p{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3em;
    width:95%;
    max-width: 750px;
    line-height: 1.5em;
    display:inline-block;
    color:white;
}
#contact h2{
    margin:.7em auto 1em;
    font-size: 1.7rem;
    color:white;
    font-weight: 500;
}
#email{
    padding:.8em .8em;
    margin:0 auto;
    display:block;
    width:100%;
    max-width:700px;
    font-size: 1.2rem;
    border-radius: 10px;
    border:none;
}  
.input_error{
    background:var(--clr-softRed);
    padding:.3em;
    margin:1em auto 0;
    border-radius:10px;
    width:100%;
    max-width: 700px;
    position:relative;
}
.normal_text{
    margin:.5em 0 0;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    visibility: hidden;
    opacity:0;
    max-height:0;
    overflow: hidden;
}
.text_error{
    color:white;
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
    max-height: 1000px;
}
.errorIcon{
    position:absolute;
    right:5%;
    opacity:0;
}
.error{
    opacity:1;
    top:20%;
}
::placeholder{
    color:var(--clr-grayBlue);
    opacity: .8;
}
.red_btn{
    margin-top:1em;
    background-color: var(--clr-softRed);
    color:white;
    font-size: 1rem;
    width:100%;
    max-width:700px;
    border:none;
    cursor: poni;
}
.red_btn:active{
    opacity: .7;
}


footer{
    padding:1.5em 1em 1em;
    background:var(--clr-darkBlue);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu_foot{
    font-size:1.5rem;
    margin:1em 0;
    text-transform: uppercase;
    list-style: none;
}
.foot_items{
    color:var(--clr-grayBlue);
}
.social{
    margin-top:2em;
    padding-left: 4em;
}
.social_active{
    padding:0;
    position:fixed;
    display:flex;
    justify-content: center;
    z-index:999;
    left:3%;
    top:30em;
    width: 100%;
    height:100%;
}
.social svg:nth-child(1){
    margin-left:2em;
}
.social_icons path:hover{
    fill:var(--clr-softBlue);
}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
